<%= html_import_tag 'application'%>
<h1> <%= @raid["name"] %></h1>
<p>
<%= @raid["description"]%></br></br>
Raidlead: <%= @raid["raidlead"] %></br>
Start: <%= @raid["startdate"] %></br>
End: <%= @raid["enddate"] %></br>
</p>
<% @raiddetails["members"].each do |member| %>
<div class="card">
<p><b><%= member["charname"] %></b></p>
<p><%= image_tag(member["thumbnail"], :class => "circular") %></p>
<p>Level: <%= member["level"] %></p>
<%
a=member["character_class"]
name = ""
case a
when 1
 name="Warrior"
when 2
 name="Paladin"
when 3
 name="Hunter"
when 4
 name="Rogue"
when 5
 name="Priest"
when 6
 name="Death Knight"
when 7
 name="Shaman"
when 8
 name="Mage"
when 9
 name="Warlock"
when 10
 name="Monk"
when 11
 name="Druid"
  %>
<% end %>
 </p>
<p>Class: <%= name  %> </p>
<p>Role: <%= member["role"] %></p>
<p>Itemlevel: <%= member["itemlvlequipped"] %> ( <%= member["itemlvltotal"] %> )</p>
</div>
<% end %>

<% if session[:moderator].nil? %>
<% else %>
<p>Delete this raid</p>
<% end %>
<% if @signedup == true %>
<%= link_to(:controller => :raids, :action => :signoff, method => :post) do %>
<paper-fab icon="check" style="color: white; background: #259b24"></paper-fab>
<% end %>
<% else %>
<%= link_to(raids_signup_path, method: :post) do %>
<paper-fab icon="save" style="color: white; background: #ffeb3b"></paper-fab>
<paper-action-dialog backdrop="" autoclosedisabled="" layered="false" role="dialog" layout="" vertical="" tabindex="-1" style="position: fixed; outline: none; z-index: 12; top: 119px; left: 66.5px;">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <paper-button affirmative="" autofocus="" role="button" tabindex="0">Tap me to close</paper-button>
    </paper-action-dialog>
<% end %>
<% end %>
<p>
</p>
