<%= html_import_tag 'application'%>
<div style="position:absolute; left:0; right:0; top:0; bottom:0; margin:auto; max-width:100%; max-height:100%; overflow:auto; width:70%; height: 600px;">
<h1>gC Gaming Raid Application</h1>
<p>Login as an existing user or register as a new one</p>

<%= form_tag({controller: "login", action: "auth"}, method: "post") do %>
<paper-input-decorator label="Your Name">
  <%= text_field_tag(:username) %>
</paper-input-decorator>
<paper-input-decorator label="Password" type="password">
<%= password_field_tag(:password) %>
</paper-input-decorator>
<%= button_tag(type: "submit") do %>
<paper-button raised>Login</paper-button>
<% end %>
<% end %>
<%= link_to(login_register_path) do %>
<p><paper-button raised>Register</paper-button></p>
<% end %>
</div>
