<%= html_import_tag 'application'%>
<!DOCTYPE html>
<html>
<head>
  <title>GcGamingWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<core-toolbar style="background: #F44336; color: white;">
<paper-menu-button>
    <paper-icon-button icon="menu" role="button" tabindex="0" aria-label="menu"></paper-icon-button>
    <paper-dropdown class="dropdown">
        <core-menu class="menu">
            <paper-item raised>Share</paper-item>
            <paper-item>Settings</paper-item>
            <paper-item>Help</paper-item>
        </core-menu>
    </paper-dropdown>
</paper-menu-button>
<span flex="">gC Gaming</span>
<%= link_to(raids_index_path) do %>
<span flex="" style="color:white">Raids</span>
<% end %>
<%= link_to(characters_index_path(:userid => session[:user_id])) do %>
<span flex="" style="color:white">Characters</span>
<% end %>
</core-toolbar>
<%= yield %>

</body>
</html>
